<div class="container pt-5">
  <!-- Heading -->
  <h1 class="text-underline text-brand">Your Cocktails Menu:</h1>

    <!-- Grid row -->
  <div class="row mb-5 mt-5">
    <!-- Card -->
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to cocktail_path(cocktail), class: "card-link" do%>
      <div class="card m-4"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category">
          <h2> <%= cocktail.name  %> </h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <!-- Add button -->
  <div class="row">
    <%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
<!-- Close main div -->
</div>

